*{
    max-width: 1500px;
}

body{
    background-color: grey;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

h1, h3{
    font-family: "Niagara Engraved", sans-serif;
}

h1{
    font-size: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3{
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
}

header, nav{
    float: left;
    background-color: darkgoldenrod;
}

header{
    margin-right: 50px;
}

nav{
    height: 95px;
    padding-top: 8em;
    padding-bottom: 0;
}

nav a{
    font-family: "Niagara Engraved", sans-serif;
    font-size: 40px;
    margin-right: 30px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#fix:after{
    content:"";
    display: block;
    clear:both;
}
#content{
    background-color: darkgreen;
    width: auto;
    height: 22em;
}


#content figure{
    width: 30%;
    float: left;
}

h2, h4{
    background-color: darkred;
    width: 70%;
    margin-right: 0;
}

#content figure img{
    border-radius: 50%;
}



