*{
    max-width: 1500px;
}

body{
    background: grey;
}

h1, h3{
    font-family: "Niagara Engraved", sans-serif;
}

h1{
    font-size: 80px;
    margin-bottom: 0;
}

h3{
    font-size: 40px;
    margin-top: 0;
}

header, nav{
    float: left;
    background: darkgoldenrod;
}

nav{
    margin-top: 100px;
}