* {
	margin: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#mainPage {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	padding-left: 5rem;
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 769px) {
	#mainPage{
		justify-content: center;
		flex-direction: column;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

#begin-quote {
	font-size: 3rem;
	font-weight: 400;
	font-family: 'Macondo', cursive;
}
.quote-text{
	width: 50%;
	display: flex;
	justify-content: center; align-items: center;
}
@media screen and (max-width: 769px) {
	.quote-text{
		width: 100%;
	}
}
#hi{
	font-size: 4rem;
}
.about-me{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}
@media screen and (max-width: 769px) {
	.about-me{
		width: 100%;
	}
}
.pasfoto{
	-webkit-clip-path: circle(41.0% at 50% 50%);
                clip-path: circle(41.0% at 50% 50%);
	width: 400px;
	height: 500px;
}

.about-me-text{
	width: 50%; height: fit-content; font-size: 1rem; color:rgb(164, 172, 180); display: flex; flex-direction: column; justify-content: center; align-items: center;
}
@media screen and (max-width: 769px) {
	.about-me-text{
		width: 100%; height: fit-content; font-size: 1rem; color:rgb(164, 172, 180); 
	}
}
#servicesheader{
	text-align: center;
	padding: 1rem;
}
#services{
	display: flex;
	justify-content: space-around;
	padding: 3rem;
	margin-bottom: 3rem;
	height: fit-content;
}
@media screen and (max-width: 1050px) {
	#services{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 3rem;
		gap: 1rem;
	}
}

.service-item{
	width: 25%;
	display: flex;
	flex-direction: column;
	transition: all .5s ;
	height: 20rem;
	align-items: center;
}

.service-item:hover{
	transform: scale(1.05);
	cursor: pointer;
}
@media screen and (max-width: 1050px) {
	.service-item{
		width: 90%;
	}
}
.service-border{
	border: 2px solid #00A0D2;
}

.servicetagline{
	border: 2px solid #00A0D2;
	width: fit-content;
	margin: 1rem;
	padding: 1rem;
}
#head-service-wp{
	height:200px;
	background-image: url(../pictures/wordpress-bg-medblue.png);
	background-color: #4d7e4c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);	
}
#head-service-vscode{
	height:200px;
	background-image: url(../pictures/bootstrap-4-beta-whats-new.jpg);
	background-color: #4d7e4c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);}
#head-service-vscustom{
	height:200px;
	background-image: url(../pictures/1_DIWgQmUKDW_TsDbLWYUtDg.png);
	background-color: #4d7e4c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);}
@media screen and (max-width: 1050px) {
	.head-service{
		transform: scale(0.2);
	}
}
.servicepara{
	width: fit-content;
	margin: 1rem;
}
#nav{
	display: flex;
	flex-direction: column;
	height: auto;
	gap: 0.1rem;
}

.navitem {	
	display: flex;
	gap: 1rem;
	padding: 1rem 3rem;
	text-decoration: none;
	height: fit-content;
	color: white;
	font-weight: 800;
}

.discover{
	text-decoration: none;
	font-weight: 900;
	color: rgb(73, 114, 150);
	padding: 5px;
	border: 1px solid rgb(73, 114, 150);
	border-radius: .5rem;
	transition: 0.5s;
	width: fit-content;
}
.link{
	text-decoration: none;
	font-weight: 900;
	color: rgb(73, 114, 150);
	padding: 5px;
	border: 1px solid rgb(73, 114, 150);
	border-radius: .5rem;
	transition: 0.5s;
	width: fit-content;
}
.link:hover{
	color: rgb(130, 151, 168);
	border: 1px solid rgb(130, 151, 168);
}
.arrowDown{
	width: 50px;
	height: 50px;
	position: absolute; left: 47%; top: 90%;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	animation: move 2s linear 2s infinite ;
	padding: 0;
}
@media screen and (max-width: 769px) {
	.arrowDown{
		display: none;
	}
}

@keyframes move{
	25%{
		top: 92%;
	}
	50%{
		top: 90%;
	}
	75%{
		top: 90%;
	}
	10%{
		top: 90%;
	}
}

#projects{
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
}

@media screen and (max-width: 769px) {
	#projects{
		gap: 1.5em;
	}
}
.projectContainer{
	height: fit-content;
	width: 26%;
	display: flex;
	flex-direction: column;
}

h3{
	text-decoration: underline;
	color:#203A43;
}
p{
	width: inherit;
	color:#203A43;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	background: white;
	height: 500px;
	padding: 1rem;
}

#main{
	display: flex;
	justify-content: center;
}

.formheader{
	font-weight: 500;
    color: #130c0c;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #e6dddd;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input::placeholder, textarea::placeholder{
	color: #e6dddd;
}

button{
	background: transparent;
    width: fit-content;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #e6dddd;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

textarea{
	align-self: stretch;
	background: transparent;
    width: 550px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #e6dddd;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
input:hover, textarea:hover, button:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

button:hover{
	cursor:pointer
}

.inputfields{
	display:flex;
	gap: 2rem;
}

.leftform{
	display: flex;
	flex-direction: column;
}
