* {
	margin: 0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#mainPage {
	background: url("../pictures/code_text_colorful_140555_2560x1440.jpg");
	backdrop-filter: blur(5px);
	background-size: cover;
	clip-path: polygon(98% 0, 100% 51%, 98% 100%, 0% 100%, 2% 50%, 0% 0%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 414px) {
	#mainpage{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#headtext {
	top: 10px;
	left: 5px;
	width: 60%;
	height: 40px;
	padding: 20px;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 769px) {
	#headtext{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200px;
		width: 85%;
	}
}
@media screen and (max-width: 414px) {
	#headtext{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 150px;
		width: 85%;
	}
}

h1 {
	color: rgb(0, 0, 0);
	font-size: 30px;
	letter-spacing: 2px;
}

@media screen and (max-width: 414px) {
	h1{
		margin-top: 10px;
	}
}

#rotatingWords {
	overflow: hidden;
}

.rotword{
	display: block;
	height: 100%;
	padding-left: 10px;
	font-size: 32px;
	font-weight: 600;
	color: rgb(2, 2, 2);
	animation: spin_words 6s infinite;
}

@media screen and (max-width: 1110px) {
	span{
		text-align: center;
	}
}
@keyframes spin_words {
	25% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-105%);
	}
	75% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

#nav{
	display: flex;
	flex-direction: column;
	height: auto;
	gap: 0.1rem;
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.navitem {	
	display: flex;
	gap: 1rem;
	padding: 3rem;
	text-decoration: none;
	letter-spacing: 5px;
	height: fit-content;
	color: rgb(0, 0, 0);
	font-weight: 800;
}

.arrowDown{
	width: 50px;
	height: 50px;
	position: absolute; left: 47%; top: 90%;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	animation: move 2s linear 2s infinite ;
	padding: 0;
}


@keyframes move{
	25%{
		top: 92%;
	}
	50%{
		top: 90%;
	}
	75%{
		top: 90%;
	}
	10%{
		top: 90%;
	}
}
.pasfoto{
	width: 50%;
	height: 500px;
	width:auto;
}
#projects{
	display: flex;
	padding: 30px 30px 30px 30px;
	flex-wrap: wrap;
	gap: 2.2em;
}

@media screen and (max-width: 1024px) {
	#projects{
		gap: 1.5em;
	}
}
@media screen and (max-width: 769px) {
	#projects{
		justify-content: center;
	}
}
@media screen and (max-width: 426px) {
	#projects{
		justify-content: center;
	}
}

.projectContainer{
	height: auto;
	display: flex;
	flex-direction: column;
}


img{
	width: 331px;
	height: 200px;
}
h3{
	text-decoration: underline;
}
p{
	width: inherit;
}

.content{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: white;
	width: 300px;
	height: auto;
	padding: 1rem;
}

a{
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
	transition: 0.5s;
	width: fit-content
}

.formheader{
	font-weight: 500;
    color: #130c0c;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #080505;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

textarea{
	align-self: stretch;
	background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #140b0b;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
input:hover, textarea:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.inputfields{
	display:flex;
	gap: 2rem;
}

.leftform{
	display: flex;
	flex-direction: column;
}

#main{
	padding: 3rem;
}