
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 760px;
	background-image:linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(14, 94, 38, 0.73)),
	url(../pictures/—Pngtree—design\ background\ of\ person\ working_1157920.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	z-index: 1;
	position: relative;
}

@media screen and (max-width: 414px){
	.header{
		display: flex;
		justify-content: center;
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

#headtext {
	top: 10px;
	left: 5px;
	width: 50%;
	height: 40px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 414px) {
	#headtext{
		display: flex;
		flex-direction: column;
		height: 110px;
	}
}

h1 {
	color: rgba(0, 0, 0, 0.7);
	font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
}

#rotatingWords {
	overflow: hidden;
}

.headerspan {
	display: block;
	height: 100%;
	padding-left: 10px;
	font-size: 32px;
	font-weight: 600;
	color: rgb(0, 0, 0);
	animation: spin_words 6s infinite;
}

@keyframes spin_words {
	25% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-105%);
	}
	75% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.arrowDown{
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.25), -10px -10px 30px rgba(0, 0, 0, 0.1),
	inset -5px -5px 15px rgba(0, 0, 0, 0.5);
	position: absolute; left: 47%; top: 90%;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	transition: 0.2s;
	text-decoration: none;
}

@media screen and (max-width: 414px) {
	.arrowDown{
		display: none;
	}
}

.arrowDown:hover{
	transform:scale(1.05);
}

#main{
	display: flex;
	justify-content: center;
	gap: 5%;
	height: auto;
	padding: 5px;
	background: grey;
}

@media screen and (max-width: 414px){
	#main{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 5px;
	}
}
.calltext{
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 50px;
	background:rgba(255, 255, 255, 0.9);
	justify-content: center;
	align-items: center;
	width: 300px;	
}

@media screen and (max-width: 414px){
	.calltext{
		width: 260px;
	}
}

.icons{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 2em;
	transition: 0.2s;
}

.icons:hover{
	transform: scale(1.05);
	cursor: pointer;
}

.telefoon{
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
	transition: 0.5s;
	width: 90px;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.9);
	padding: 50px;
	gap: 1rem;
}

@media screen and (max-width: 414px){
	form{
		width: 260px;
	}
}

.formheader{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputfields{
	display: flex;
	gap: 2rem;
}

@media screen and (max-width:414px){
	.inputfields{
		flex-direction: column;
	}

	.line{
		display: none;
	}
}
.leftform, .rightform{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: start;
	gap: 2rem;
}

label{
	position: relative;
	font-size: 14px;
	padding-top: 20px;
	margin-bottom: 5px;
}

input{
	height: 30px;
	background: none;
	border: 2px solid #ddd;
	transition: border-color 0.3s ease;
	font-size: 14px;
	border-radius: 5px;
}

.placeholder{
	position: absolute;
	left: 12px;
	top: calc(50% + 10px);
	transform: translateY(-50%);
	color: #aaa;
	transition: top 0.3s ease,
				color 0.3s ease;
}
input:valid + .placeholder,
input:focus + .placeholder{
	top: 20px;
	font-size: 10px;
	color: #222;
	background: rgb(241, 234, 234);
	border: 2px solid #ddd;
	z-index: 1;
}

input + .placeholder{
	padding: 0 5px;
	left: 8px;
}
input:valid,
input:focus{
	border-color: #222;
	transition-delay: 0.1s;
}

textarea{
	border-radius: 5px;
	border: 2px solid #ddd;
	padding: 10px;
	background: none;
}

.line{
	border-left:grey 2px solid;
	width: 1px;
}

.buttondiv{
	display: flex;
	justify-content: center;
}
button{
	background-color:rgba(245, 246, 252, 0.52);
	border: 2px solid #ddd;
	padding: 10px;
	width: 150px;
	transition: 0.2s
}

button:hover{
	border-color: #222;
	letter-spacing: 5px;
	cursor: pointer;
}

@media screen and (max-width: 414px) {
	.homeButton{
		font-size: 10px;
		top: 10px;
		left: 5px;
		padding: 10px;
	}
}