.main{
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 5%;
	height: auto;
	padding: 5px;
	background: grey;
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	background-image:linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(14, 94, 38, 0.73)),
	url(../pictures/—Pngtree—design\ background\ of\ person\ working_1157920.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

#headtext {
	top: 10px;
	left: 5px;
	width: 50%;
	height: 40px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: content-box;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.35);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

h1 {
	color: rgba(0, 0, 0, 0.7);
	font-size: 30px;
	letter-spacing: 2px;
}

#rotatingWords {
	overflow: hidden;
}

span {
	display: block;
	height: 100%;
	padding-left: 10px;
	font-size: 32px;
	font-weight: 600;
	color: rgb(0, 0, 0);
	animation: spin_words 6s infinite;
}

@keyframes spin_words {
	25% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-105%);
	}
	75% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.calltext{
	display: flex;
	flex-direction: column;
	gap: 2em;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgb(20, 18, 18);
	padding: 20px;
	background:rgba(255, 255, 255, 0.5);
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 250px;	
}

.icons{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 2em;
	border:rgb(0, 0, 0) 1px solid;
	border-radius: 10px;
	box-shadow: -2px 5px;
	transition: 0.5s;
}

.icons:hover{
	background: rgb(37, 80, 33);
}

.telefoon{
	border-radius: 10px;
	box-shadow: 0 2px 2px rgb(27, 70, 27);
	padding: 10px;
	background: rgb(14, 94, 38);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	width: 90px;
}
