.skills{
    align-items: center;
    justify-content: center;
    width: 50%;
}
.skill{
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 50%;
    padding: 15px;
    transition: .2s ease-in-out;
    width: 100px;
    height: 100px;
    position:relative;
}
.skill:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.skillname{
    position:absolute;
    bottom: 5px;
    text-wrap: nowrap;
    letter-spacing: normal;
    color: var(--greyblue);
    font-size: .8em;
}
.skillimage{
    width: 40px;
    height: 40px;
}
#html{
background: rgba(230, 136, 5, .3);
}
#css{
background: rgba(45, 83, 229, .3);
}
#TS{
background: rgba(49, 120, 198, .3);
}
#JS{
background: rgba(255, 218, 62, .3);
}
#vue{
background: rgba(63, 185, 132, .3);
}
#bootstrap{
background: rgba(99, 13, 202, .3);
}
#tailwind{
background: rgba(56, 189, 248, .3);
}
#jquery{
background: rgba(25, 53, 86, .3);
}
#wordpress{
background: rgba(0,0,0, .3);
}
#php{
background: rgba(115,119,173, .3);
}
#nodejs{
background: rgba(115, 170, 99, .3);
}
#react{
background: rgba(102, 219, 251, .3);
}
#angular{
background: rgba(197, 8, 54, .3);
}
#sass{
background: rgba(199, 100, 148, .3);
}
#sql{
background: rgba(1, 98, 139, .3);
}
#sqlsvg{
    transform: scale(.6);
}
#python{
background: linear-gradient(120deg, rgba(54, 112, 160, .3), rgba(255, 206, 61, .3));
}
#git{
background: rgba(243, 79, 41, .3);
}

#gitsvg{
    transform: scale(.6);
}
#figma{
    background: linear-gradient(120deg, rgba(242, 78, 30, .3), rgba(255, 114, 98, .3), rgba(162, 89, 255, .3), rgba(26, 188, 254, .3), rgba(10, 207, 131, .3));
}

#figmasvg{
    transform: scale(.7);
}

#postman{
    background: rgba(243, 112, 54, .3);
}
#postmansvg{
    transform: scale(.7);
}
#quasar{
    background: rgba(0, 180, 255, .3);
}
#quasarsvg{
    transform: scale(.7);
}
@media screen and (max-width: 1024px){

    .skills{
        width: 70%
    }
    .skillname{
        bottom: 2px;
        
    }
}
@media screen and (max-width: 775px){

    .skills{
        width: 80%;
    }

    .skill{
        height: 70px;
        width: 70px;
    }

    .skillname{
        bottom: 4px;
        font-size: .6em;
    }
    .skillimage{
        width: 30px;
        height: 30px;
    }
    .skill{
        pointer-events: none;
    }
    
}
@media screen and (max-width: 426px){

    .skills{
        width: 100%;
    }
    .skill{
        pointer-events: none;
    }
    
}