:root {
    --darkJungle: #1A1F16;
    --forestGreenTrad: #1E3F20;
    --hunterGreen: #345830;
    --amazon: #4A7856;
    --magicMint: #94ECBE;
  }

#h2{
    margin: 0 auto;
    font-size: 2em;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #94ECBE;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;;
    text-align: center;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: black 1px solid;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: 0px 10px 5px #343434;
    background-color: #345830;
}  