:root {
	--lightBlue: #48cab9;
	--darkBlue: #41b3a3;
	--glassy: rgba(255, 255, 255, 0.5);
	--greenTint: #006400;
}

#mainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	background-color: linear-gradient(to right bottom green, white)
}

.glassy {
	background: rgba(255, 255, 255, 0.7);
	margin-left: 30px;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;	
	backdrop-filter: blur(10px);
	border-radius: 15px;
	box-shadow: 1px 1px 10px;
	
}

.hoofd-glassy {
	margin-left: 20px;
	margin-top: 10px;
	color: rgb(0, 0, 0);
	font-size: 30px;
	text-decoration: underline;
}

.text-glassy {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
