:root {
  --lightBlue: #48cab9;
  --darkBlue: #41B3A3;
  --glassy: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  --greenTint: #006400;
}

.glassy{
  margin-left: 30px;
  width: 50%;
  height: auto;
  background: var(--glassy);
  border-radius: 15px;
  box-shadow: 1px 1px 10px;
  margin-bottom: 10px;
}

.hoofd-glassy{
  color: var(--greenTint);
  font-size: 30px;
  margin-left: 15px;
  margin-top: 20px;
  padding-top: 20px;
  text-decoration: underline;
}

.text-glassy{
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
}