body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: azure;
}

.projectpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 50px;
}
.projectpageheader{
    background-image: url('../pictures/projectsheader2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.glassbackground{
    background: rgba(255, 255, 255, 0.4);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
width: 100%;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}
.picture{
    /* background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:70%
}
.title{
    font-size: 2em;
    color: var(--greyblue);
    text-shadow: 0 2px 5px;
}

@media screen and (max-width: 770px){
    
    .picture{
        /* background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .back{
        display: none;
    }
    .title{
        font-size: 1em;
        color: var(--greyblue);
        text-shadow: 0 2px 5px;
    }
    .projectpageheader{
        height: 200px;
    }
    .headertext{
        font-size: 1.2em;
    }
}