body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../pictures/long road.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}

.aboutpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.about-main{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width:100%;
    gap: 50px;
    align-items: center;
}
.image{
    width: fit-content;
}
.profile{
    width: fit-content;
}

#picture{
    width: 400px;
    height: auto;
    border-radius: 26% 0% 24% 0% / 29% 31% 21% 10% ;
}
.infosection{
    width: 100%;
}
.asl{
    font-size: 2em;
}
.shortinfo{
    border-left: 5px solid var(--greyblue);
    
}
.skills{
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.skill{
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 50%;
    padding: 15px;
    transition: .2s ease-in-out;
    width: 100px;
    height: 100px;
    position:relative;
}
.skill:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.skillname{
    position:absolute;
    bottom: 5px;
    text-wrap: nowrap;
    letter-spacing: normal;
    color: var(--greyblue);
    font-size: .8em;
}
.skillimage{
    width: 40px;
    height: 40px;
}
#html{
background: rgba(230, 136, 5, .3);
}
#css{
background: rgba(45, 83, 229, .3);
}
#TS{
background: rgba(49, 120, 198, .3);
}
#JS{
background: rgba(255, 218, 62, .3);
}
#vue{
background: rgba(63, 185, 132, .3);
}
#bootstrap{
background: rgba(99, 13, 202, .3);
}
#tailwind{
background: rgba(56, 189, 248, .3);
}
#jquery{
background: rgba(25, 53, 86, .3);
}
#wordpress{
background: rgba(0,0,0, .3);
}

.myjourney{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.journeytitle{
    font-size: 3em;
    text-shadow: 0 2px 5px;
}
.timelineitem{
    background: linear-gradient(120deg, rgba(75, 85, 73, 0.5), rgba(46, 38, 38, 0.5));
    border-radius: 5px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    transition: .2s ease;
}
.timelineitem:hover{
    transform: scale(1.1);
}

.timeline-explanation{
    color: antiquewhite;
}

.values-image{
 width: 50%;
 height: auto;
}

.values-layout, .mobilefirst-layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.values-explanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.values-title{
    font-size: 2em;
}

.values-paragraph{
    font-size: 1.5em;
    color: var(--grey);
}

.divider{
    width: 50%;
    border-bottom: 2px solid var(--greyblue);
}
.round-ball{
    background: var(--greyblue);
}
@media screen and (max-width: 770px){

    #footnav{
        display: none;
    }
    .image{
        justify-content: center;
    }
    #picture{
        width: 300px;
        height: auto;
        border-radius: 26% 0% 24% 0% / 29% 31% 21% 10% ;
    }
    .asl{
        font-size: 1.5em;
    }
    .profile{
        width: 100%;
        justify-content: center;
    }
    .skills{
        align-items: center;
        width: 70%;
    }

    .skill{
        height: 70px;
        width: 70px;
    }

    .skillname{
        bottom: 2px;
        font-size: .6em;
    }
    .skillimage{
        width: 30px;
        height: 30px;
    }
    .skill{
        pointer-events: none;
    }
    .infosection{
        border: none;
    }
    .myjourney{
        width: 100%;
    }
    .journeytitle{
        font-size: 2em;
    }
    .timelineitem{
        pointer-events: none;
    }
    .values-layout{
        flex-direction: column;
    }
    .values-layout{
        align-items: center;
    }
    .mobilefirst-layout{
        flex-direction: column-reverse; 
        align-items: center;
    }
    .values-title{
        font-size: 1.5em;
    }
    .values-paragraph{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 426px){

    #footnav{
        display: none;
    }
    .image{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        border-right: none;
    }
    #picture{
        width: 150px;
        height: auto;
        border-radius: 26% 0% 24% 0% / 29% 31% 21% 10% ;
    }
    .asl{
        font-size: 1em;
    }
    .profile{
        flex-direction: column;
        width: 100%;
    }
    .skills{
        align-items: center;
        justify-content: center;
    }
    .skill{
        pointer-events: none;
    }
    .myjourney{
        width: 100%;
    }
    .journeytitle{
        font-size: 2em;
    }
    .responsive-title{
        font-size: 1em;
    }
    .timelineitem{
        pointer-events: none;
    }
}