body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../pictures/about me neon.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.about-main{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width:100%;
}
.profile{
    width: 400px;
    flex-direction: column;
}

#picture{
    width: 100px;
    height: auto;
    border-radius: 26% 0% 24% 0% / 29% 31% 21% 10% ;
}
.infosection{
    width: 80%;
}
.skills{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.skill{
    background: linear-gradient(120deg, rgba(42, 146, 21, 0.3), rgba(11, 13, 124, 0.5));
    border-radius: 5px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 50%;
    padding: 15px;
    transition: .2s ease-in-out;
    width: 100px;
    height: 100px;
    position:relative;
}
.skill:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.skillname{
    position:absolute;
    bottom: 5px;
    text-wrap: nowrap;
    letter-spacing: normal;
    color: antiquewhite;
    font-size: .8em;
}
.skillimage{
    width: 40px;
    height: 40px;
}

.myjourney{
    line-height: 30px;
}
@media screen and (max-width: 770px){

    #footnav{
        display: none;
    }
    .about-main{
        flex-direction: column;
    }
    .image{
        flex-direction: column;
        border-right: 1px solid antiquewhite
    }
    .profile{
        flex-direction: row;
        width: 100%;
    }
    .skills{
        align-items: center;
        justify-content: start;
        width: 100%;
    }

    .skill{
        height: 70px;
        width: 70px;
    }

    .skillname{
        bottom: 2px;
        font-size: .6em;
    }
    .skillimage{
        width: 30px;
        height: 30px;
    }
    .myjourney{
        width: 100%;
    }
}
@media screen and (max-width: 426px){

    #footnav{
        display: none;
    }
    .about-main{
        flex-direction: column;
    }
    .image{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        border-right: none;
    }
    .profile{
        flex-direction: column;
        width: 100%;
    }
    .skills{
        align-items: center;
        justify-content: center;
    }
    .myjourney{
        width: 100%;
    }
}