:root {
	--beige: 	rgb(210,235,255);
	--greyblue: 	rgb(64,64,102);
	--blue: 	rgb(7, 151, 232);
	--orange: 	rgb(237,204,111);
	--lightest: 	rgb(123, 206, 201);
	--blur: 20px;
}

.playwrite-us-modern-100 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
  }
.playwrite-us-modern-200 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }
.playwrite-us-modern-300 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  }
.playwrite-us-modern-400 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }
* {
	margin: 0;
}
a{
	text-decoration: none;
}

.menu-div{
	background-color: var(--orange);
	height: 3px;
	box-shadow: 2px 2px 8px rgba(0,0,0,1);
}

.mobile-menu{
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(var(--blur));
-webkit-backdrop-filter: var(--blur);
border: 1px solid rgba(255, 255, 255, 0.3);
top: 18px;
}

.about-blue{
	color: var(--blue);
}
.about-orange{
	color: var(--orange);
}
.about-green{
	color: var(--lightest);
}
.about-greyblue{
	color: var(--greyblue);
}
.about-beige{
	color: var(--beige);
}



body{
	background-image: url('../pictures/laptop only black background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex ;
	flex-direction: row;
	gap: 5%;
	justify-content: center;
	align-items:center;
	width: 100vw;
}
.body{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.whatsapp-section{
	padding: 5%;
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.left-section{
	width: 30%;
}
.right-section{
	gap: 0;
	align-self: normal;
	width: 70%;
	margin-right:0;
	margin-top: 0;
}
#mobile-header{
	display: none;
}
#desktop-header{
	display: flex;
	background-image: url('../pictures/notebaook transparent background.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 50%;
}

.desktop-wrapper{
	height: 100%;
	width: 100%;
}
.webdev{
	color: var(--orange);
	margin: 0;
	padding: 0;
	transform: rotate(-90deg);
	letter-spacing: 5px;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
	font-size: 2vw;
	width: fit-content;
	text-wrap: nowrap;
	height: fit-content;
	text-align: center;
	align-content: center;
}

.desktop-menu{
	width: 50%;
	height: 100%;
}
.nav-item{
	font-size: 2vw;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
	transition: all linear .2s;
}
.nav-item:hover{
	cursor: pointer;
	text-shadow: 2px 2px 15px rgba(0,0,0,2);
	color: goldenrod;
}

.a{
	font-size: 150%;
	color: var(--greyblue)
}

.about-section{
	background-image: url('../pictures/iphone-6-iphone-5s-iphone-7-plus-calling-screen-7db3928a21c6e06577e56c98be292603.png');
	background-position: center;
	background-size: cover;
	background-color:rgb(36, 36, 36);
	border-radius: 22% 23% 26% 24% / 6% 6% 7% 7% ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	color: white;
	height: 35rem;
	width: 250px;
	
}
.whatsapp{
	background: rgb(64,64,102, 0.5);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	/* border: 1px solid rgb(243, 219, 0); */
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	width: 85%;
	padding: 5px;
	border-radius: 15px;
}
#worktogether{
	background: rgba(216, 211, 211, 0.3);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	transition: transform .2s;
	width: 85%;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
#footer{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 0;
}
@media only screen and (min-width: 1350px) {
	.about-section{
		transform: rotate(30deg);
	}
}

@media only screen and (max-width: 769px) {
	#mobile-header{
		display: flex;
		background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	}
	#desktop-header{
		display: none;
	}
	body{
		display: block;
	}
	.body{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100vw;
		height: auto;
	}
	
	.webdev{
		color: var(--orange);
		transform:none;
		letter-spacing: 5px;
		width:max-content;
		font-size: 1.5em;
	}

	.menu-item{
		text-shadow: 2px 2px 8px rgba(0,0,0,1);
	}

	.whatsapp-section{
		width: 100vw;
		display: flex;
		justify-content: center;
	}
}

