:root {
	--beige: 	rgb(210,235,255);
	--greyblue: 	rgb(64,64,102);
	--blue: 	rgb(7, 151, 232);
	--orange: 	rgb(237,204,111);
	--lightest: 	rgb(123, 206, 201);
	--blur: 20px;
}

.playwrite-us-modern-100 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
  }
.playwrite-us-modern-200 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
  }
.playwrite-us-modern-300 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  }
.playwrite-us-modern-400 {
	font-family: "Playwrite US Modern", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }
* {
	margin: 0;
}

body{
	background-image: url('../pictures/StockSnap_laptopphonennoteslight.jpg');
	/* background-image: url('../pictures/StockSnap_purple rectangles.jpg'); */
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

header{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.menu-div{
	background-color: var(--orange);
	height: 3px;
}

.nav-item{
	font-size: 20px;
	padding: 10px;
	border-radius: 15px;
}

a{
	text-decoration: none;
}

.a{
	font-size: 150%;
	color: var(--greyblue)
}

.webdev{
	color: var(--orange);
}

.mobile-menu{
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(var(--blur));
-webkit-backdrop-filter: var(--blur);
border: 1px solid rgba(255, 255, 255, 0.3);
top: 18px;
}

#pasfoto{
	border-radius:63% 37% 64% 36% / 25% 77% 23% 75%  ;
}

.about-blue{
	color: var(--blue);
}
.about-orange{
	color: var(--orange);
}
.about-green{
	color: var(--lightest);
}
.about-greyblue{
	color: var(--greyblue);
}
.about-beige{
	color: var(--beige);
}

.about-section{
	color: white;
	position: fixed;
	width: 270px;
	left: 120px;
	top: 185px;
	height: 400px;
	transform: rotate(-21.5deg);
	padding: 20px;
}

.whatsapp{
	padding: 10px;
	border: 2px solid var(--orange);
	border-radius: 20px;
}

#worktogether{
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	transition: transform .2s;
}

#footer{
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 769px) {
	#mobile-header{
		display: flex;
	}
	#desktop-header{
		display: none;
	}

}
@media only screen and (min-width: 770px) {
	#mobile-header{
		display: none;
	}
	#desktop-header{
		display: flex;
	}
	.menu-item{
		transition: all .5s; 
	}
	.menu-item:hover{
		background-image: linear-gradient(to top, rgb(81, 130, 155, 1), rgb(81, 130, 155, .2), rgb(81, 130, 155, 0));
		
	}

}

