body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../pictures/message in a bottle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    
}
.contactform{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 15px;
    gap: 10px
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.infowrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 30px
}
#message{
    resize: none;
    padding: 10px;
    border: 2px solid rgb(3, 9, 100);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
}
#message:focus{
    outline: none;
    border: 2px solid var(--blue);
}

.locationandfoto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}
.location{
    width: 100%;
}
.maps{
    width: 100%;
}
.address, .phone, .email{
    font-size: 1em;
}
.input{
    background: rgba(255, 255, 255, 0);
    border-bottom: 2px solid var(--greyblue);
    color: var(--greyblue);
    width: 100%;
}
.input:focus{
   outline: none;
   border-bottom: 2px solid var(--blue);
}

.label{
    width: 160px;
    text-wrap: no-wrap;
}
.sendbutton{
    width: fit-content;
    padding: 10px;
    border: 2px solid var(--greyblue);
    border-radius: 10px;
    color: var(--greyblue);
    transition: .1s;
}

.sendsvg{
    transition: .2s;
}
#desktop{
    display: flex;
    gap: 10px;
    font-weight: 600;
}
#mobile{
    display: none;
}
#verplichtveldmobile{
    display: none;
}
#verplichtvelddesktop{
    display: block;
}


@media screen and (max-width: 770px){
    .contactpage{
        flex-grow: 0;
    }
    .contactform{
        flex-direction: column-reverse;
        width: 95%;
    }
    .infowrapper{
        border: none;
    }

    .input{
        width: 100%;
    }

    #footnav{
        display: none;
    }
    #desktop{
        display: none;
    }
    #mobile{
        display: flex;
        gap: 10px;
        font-weight: 600;
    }
    #verplichtvelddesktop{
        display: none;
    }
    #verplichtveldmobile{
        display: block;
    }
}