body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projectpageheader{
    background-image: url('../pictures/projectsheader2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.glassbackground{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: fit-content;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    height: fit-content;
}
.pricingpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.pricing-main{
    /* From https://css.glass */
    width:100%;
}

.pricingcard{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 300px;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.pricingtitle{
    text-wrap: nowrap;
    font-size: 1.5em;
}
.pricingexpl{
    text-wrap: nowrap;
    font-size: .9em;
}
.pricingtag{
    text-wrap: nowrap;
    font-size: 2em;
}

.voorwaarden{
    font-size: .6em;
}
#wordpressoption{
    background: linear-gradient(120deg,#ffffff,#d4dfed);
}
#stylingframeworkoption{
    background: linear-gradient(120deg, #ffffff, #d4dfed);
}
#customoption{
    background: linear-gradient(120deg, #ffffff, #d4dfed);
}