body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:seashell;
}
.projectpageheader{
    background-image: url('../pictures/projectsheader2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.glassbackground{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: fit-content;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    height: fit-content;
}
.pricingpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.pricing-main{
    /* From https://css.glass */
    width:100%;
}

table{
    width: 70%;
    height: fit-content;
    
    text-align: center;
    background-color: rgb(247, 247, 247);
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
.title{
    font-size: 2em;
    text-shadow: 0 2px 5px;
}
.values-image{
    width: 50%;
    height: auto;
   }
   
   .values-layout, .mobilefirst-layout{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .values-explanation{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 20px;
       width: 100%;
   }
   .values-title{
       font-size: 2em;
   }
   
   .values-paragraph{
       font-size: 1.5em;
       color: var(--grey);
   }
.subtitle{
    font-size: .6em;
}
.dashedborder{
    border-bottom: 1px dashed;
}
.stepstowork{
    width: 70%
}
.divider{
    width: 50%;
    border-bottom: 2px solid var(--greyblue);
}

@media screen and (max-width: 1024px){
}
@media screen and (max-width: 770px){
    table{
        width: 100%;
        height: fit-content;
        padding: 10px;
        text-align: center;
    }
    .stepstowork{
        width: 100%;
    }
    .values-layout{
        flex-direction: column;
        align-items: center;
    }
    
    .mobilefirst-layout{
        flex-direction: column-reverse; 
        align-items: center;
    }
    .values-title{
        font-size: 1.5em;
    }
    .values-paragraph{
        font-size: 1.2em;
    }
}