body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projectpageheader{
    background-image: url('../pictures/projectsheader2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.glassbackground{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: fit-content;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    height: fit-content;
}
.pricingpage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.pricing-main{
    /* From https://css.glass */
    width:100%;
}

table{
    width: 70%;
    height: fit-content;
    
    text-align: center;
    background-color: var(--beige);
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}

.dashedborder{
    border-bottom: 1px dashed;
}
@media screen and (max-width: 1024px){
}
@media screen and (max-width: 770px){
    table{
        width: 100%;
        height: fit-content;
        padding: 10px;
        text-align: center;
        background-color: azure;
    }
}