body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../pictures/long road.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectspage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}