body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.projectpageheader{
    background-image: url('../pictures/projectsheader2-min.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.glassbackground{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: fit-content;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    height: fit-content;
}
.projectspage{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.projects-main{
    width:100%;
    background: rgba(161, 148, 148, 0.5);
}

.title{
    font-size: 3em;
    text-shadow: 0 2px 5px;

}

.project{
    
    height: fit-content;
    width: 600px;
}

.projectinfo{
/* From https://css.glass */
background: rgba(44, 35, 78, 0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
height: 20%;
}
.projectimage{
    width: 100%;
    height: auto;
}
.title{
    font-size: 2em;
    height: 80px;
}
#websitessection{
    display: none;
}
.localprojects{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .1s linear;
}
.localprojects:hover{
    background: rgba(161, 148, 148, 0.2);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor:pointer;
}
.localprojectsactive{
    background: rgba(161, 148, 148, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor:pointer;
}
.websites{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .1s linear;
}
.websites:hover{
    background: rgba(161, 148, 148, 0.2);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
    cursor:pointer;
}
.websitesactive{
    background: rgba(161, 148, 148, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
    cursor:pointer;
}

.projecttitle{
    font-size: 1.2em;
    /* text-shadow: 0 2px 5px; */
}

.linkbutton{
    border: 1px solid antiquewhite;
    transition: .2s
}
.linkbutton:hover{
    background-color: antiquewhite;
    color: var(--greyblue);
}


@media screen and (max-width: 1024px){
    .headertext{
        font-size: 2em;
    }
}
@media screen and (max-width: 770px){
    .project{
        width: 100%;
    }
    .title{
        font-size: 1.2em;
        text-shadow: 0 2px 5px;
        height: fit-content;
    }
    .projectpageheader{
        height: 200px;
    }
    .headertext{
        font-size: 1.2em;
    }
    .linkbutton{
        font-size: .4em;    
    }
}