body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.projectpageheader{
    background-image: url('../pictures/blue latptop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(30deg);
    height: 400px;
}
.headertext{
    background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}
.projectspage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.projects-main{
    width:100%;
}

.title{
    font-size: 3em;
    text-shadow: 0 2px 5px;
}

.project{
    height: fit-content;
    width: 600px;
}
.project:hover{
    outline: 2px solid var(--greyblue);
}
.projectinfo{
/* From https://css.glass */
background: rgba(44, 35, 78, 0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
height: 20%;
}
.projectimage{
    width: 100%;
    height: auto;
}
.title{
    font-size: 3em;
}
.projecttitle{
    font-size: 1.2em;
    /* text-shadow: 0 2px 5px; */
}

.linktoprojectdark{
    border: 2px solid var(--greyblue);
    transition: .2s;
}
.linktoprojectdark:hover{
    background-color: var(--greyblue);
    color:antiquewhite
}
.linktoprojectlight{
    border: 2px solid antiquewhite;
    transition: .2s;
}
.linktoprojectlight:hover{
    background-color: antiquewhite;
    color:var(--greyblue)
}
.arrowup{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.arrowup:hover{
    background: rgba(255, 255, 255, 0.747);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
}

.up{
    transform: scale(.5);
}


@media screen and (max-width: 770px){
    .project{
        height: 300px;
        width: 100%;
    }
    .title{
        font-size: 2em;
        text-shadow: 0 2px 5px;
    }
    .headertext{
        font-size: 1.5em;
    }
    .arrowup{
        transform: rotate(90deg);
        background: rgba(44, 35, 78, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }
    .arrowup{
        pointer-events: none;
    }
}