#footer{
	background: rgba(2, 1, 1, 0.5);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copyrightfooter{
	color: antiquewhite;
	display: flex;
	flex-direction: column; 
	width: fit-content;
}

.social, .contact-nav{
	color: antiquewhite;
	transition: .2s;
}
#facebook:hover, #instagram:hover, #linkedin:hover, #github:hover, #about:hover, #pricing:hover, #contact:hover, #projects:hover{
	padding-bottom: 10px;
}




