.menu-div{
	background-color: var(--greyblue);
	height: 3px;
}
.hidden-menu{
	display: none;
}
.mobile-menu{
	/* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(var(--blur));
-webkit-backdrop-filter: var(--blur);
border: 1px solid rgba(255, 255, 255, 0.3);
top: 18px;
}

#mobile-header{
	display: none;
}
#desktop-header{
	display: flex;
	background-image: url('../pictures/notebaook transparent background.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 50%;
}

.webdev{
	color: var(--beige);
	letter-spacing: 5px;
	font-size: 1.2vw;
	width: fit-content;
	text-wrap: nowrap;
	height: fit-content;
	text-align: center;
	align-content: center;
}

.webdev-desktop{
	background-image: url('../pictures/pencil-background-3.png');
	background-position: center;
	background-size: cover;
	padding: 10px;
}
.a{
	font-size: 150%;
	color: var(--greyblue);
}


.desktop-wrapper{
	height: 50%;
	width: 100%;
}

.desktop-menu{
	width: 50%;
	height: 100%;
}
.nav-item{
	font-size: 2vw;
	width: fit-content;
	transition: all ease smooth .2s;
	padding: 10px;
	border: 2px solid rgba(64,64,102, 0);
	border-radius: 10px;
}
.border-nav{
	transition: all .2s;
}
.border-nav:hover{
	cursor:pointer;
	border-bottom-color: var(--blue);
}

@media only screen and (max-width: 769px) {
	#mobile-header{
		display: flex;
		background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 2px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	}
	#desktop-header{
		display: none;
	}
	.hidden-menu{
		display: block;
	}
	.webdev{
		
		transform:none;
		letter-spacing: 5px;
		width:max-content;
		font-size: 1.5em;
	}

	.logotext{
		background: linear-gradient(90deg, rgb(7, 151, 232), rgb(64,64,102));
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100%;
	}

}